
:root {
    --key-color: #ffe000;
    --base-font: 'Zilla Slab Light';
    --semi-bold-font: 'Zilla Slab SemiBold';
    --bold-font: 'Zilla Slab Bold';
}

/*
 *** Typsnitt ***/

@font-face {
    font-family: 'Zilla Slab Bold';
    src: url('./ZillaSlab-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Zilla Slab SemiBold';
    src: url('./ZillaSlab-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Zilla Slab Light';
    src: url('./ZillaSlab-Light.woff') format('woff');
}


/*
 *** Animationer ***/

@keyframes button-animation {
    0%, 100% { pointer-events: none; } /* förhindrar hover-effekt */
    25% { transform: translateX(100px); opacity: 0 }
    26% { transform: none }
    100% { opacity: 1 }
}

@keyframes slide-in {
    from { opacity: 0; transform: translateX(-100%); }
    to { opacity: 1; transform: none; }
}

@keyframes slide-out {
    0%, 100% { position: absolute }
    100% { opacity: 0; transform: translateX(100%); }
}

@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}


/*
 *** Struktur och allmänt ***/

html {
  overflow-y: scroll;
  font-size: 17px;
}

body {
    color: #333;
    font-family: var(--base-font), Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body > div {
    align-items: flex-start;
    display: flex;
    margin: auto;
    max-width: 1250px;
}

body > div > div {
    margin: 0 1rem 1rem 1rem;
    flex: 1 0 0;
}

header {
    display: flex;
    align-items: flex-end;
    height: 150px;
}

header h1 {
    font-family: var(--bold-font), Arial, sans-serif;
    font-size: 3rem;
    margin: 0 0 1.5rem 0;
}

aside {
    border-left: 1px solid #666;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 150px 1.5rem 0 1rem;
    width: 250px;
}

main {
    margin-bottom: 3rem;
}

h2 {
    font-family: var(--semi-bold-font), Arial, sans-serif;
    font-size: 1.2rem;
}

a {
    color: #333;
}

.date-time {
    white-space: pre;
}

.important-message {
    background-color: var(--key-color);
    border-top: 2px solid #333;
    margin: 1em 0;
    padding: 0.5em;
}

#instructions {
    margin: 1em 0;
}


/*
 *** Navigering ***/

nav {
    font-family: var(--semi-bold-font), Arial, sans-serif;
    font-size: 1.5rem;
}

nav ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    cursor: pointer;
}

nav li:hover {
    transform: translateX(0.25em);
}

.active-menu-item {
    transform: none !important;
    color: #666;
}


/*
 *** Formulär ***/

label {
    display: inline-block;
    font-family: 'Zilla Slab Bold', Arial, sans-serif;
    height: 1.5em;
    margin-top: 2px; /* kompenserar för fältens kantlinje */
    margin-right: 0.25em;
}

input, select, textarea {
    background-color: #666;
    border: 0;
    border-bottom: 2px solid var(--key-color);
    box-sizing: border-box;
    color: white;
    font-family: var(--base-font);
    font-size: 1rem;
    height: 1.5em;
    padding: 0 0.5em;
    vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.25em;
    margin-top: -1px;
    vertical-align: middle;
}

input#date {
    margin-right: 0.25em;
}

input::placeholder {
    color: white;
    opacity: 0.5;
}

#date, textarea#comment {
    min-width: 200px;
}

select {
  appearance: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--base-font), Arial, sans-serif;
    font-size: 1rem;
}

.form-inputs {
    align-items: flex-start;
    background-color: #333;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
}

.form-inputs:first-child {
    padding: 1em 1em 0 1em;
}

.form-inputs > div {
    margin-bottom: 1em;
    margin-right: 1em;
}

.form-inputs button,
.admin-functions button {
    background-color: #666;
    border-radius: 0.25em;
    color: white;
    font-family: 'Zilla Slab Bold', Arial, sans-serif;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 0.25em 0.5em;
}

.form-inputs button:hover,
.admin-functions button:hover {
    color: var(--key-color);
}


/*
 *** Frågemätning ***/

#questions {
    column-count: 3;
    column-width: 300px;
    margin-top: 1.5rem;
}

#questions h2 {
    margin-bottom: 0.5em;
    margin-top: 0;
}

#questions > div {
    break-inside: avoid-column;
    page-break-inside: avoid; /* För FF, där avoid-column inte fungerar */
    margin-bottom: 1.5em;
    /* Hack som förhindrar att element hoppar mellan kolumnerna vid
       hover (se nedan) i FF och ev. vissa andra webbläsare */
    display: inline-block;
    width: 300px; /* Måste vara samma som column-width ovan. */
}

#questions button {
    display: block;
    padding: 0.1em 0;
}

#questions button:hover {
    background-color: #333;
    border-radius: 0.25em;
    color: var(--key-color);
    font-family: var(--semi-bold-font), Arial, sans-serif;
    margin-left: -0.5em;
    padding: 0.1em 0.5em;
}

.button-animation {
    animation: button-animation 2s;
}

#last-entry {
    animation: slide-in 0.5s;
    background-color: #666;
    color: white;
    line-height: 1.5em;
    padding: 0.5em 1em;
    transform-origin: top left;
}

#last-entry button {
    background-color: #333;
    border-radius: 0.25em;
    color: white;
    font-family: var(--semi-bold-font), Arial, sans-serif;
    padding: 0.25em 0.5em;
}

#last-entry button:hover {
    color: var(--key-color);
}

#last-entry em {
    color: var(--key-color);
    font-family: var(--semi-bold-font), Arial, sans-serif;
    font-style: normal;
}

#last-entry span {
    margin: 0.5em;
}

#last-entry.first-last-entry {
    background-color: var(--key-color);
    border-bottom: 2px solid #333;
    color: #333;
}
#last-entry.first-last-entry em {
    color: #333;
}

#info {
    background-color: #666;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    filter: drop-shadow(2px 2px 2px black);
    margin-left: 0.5em;
    display: none;
    position: absolute;
    max-width: 300px;
}


/*
 *** Resultat ***/

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
}

.chart {
    flex-basis: 50%;
}

.chart-doughnut {
    flex-basis: 33% !important;
}

.chart h2 {
    margin: 1em 0 0.5em 0;
}

.results-table {
    flex-basis: 100%;
    margin-top: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background-color: #333;
    border: 0;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child {
    border: 0;
}

th {
    color: white;
    font-family: var(--semi-bold-font), Arial, sans-serif;
    padding: 0.5em 1em;
    text-align: left;
    white-space: nowrap;
}

td {
    padding: 0.25em 1em;
}

tbody tr:first-child td {
    padding-top: 0.5em;
}


/*
 *** Administration ***/

.admin-table th:last-child {
    width: 20px;
}

.admin-table input,
.admin-table select {
    background-color: initial;
    border: 0;
    color: #333;
    text-overflow: ellipsis;
    width: 100%;
}

.admin-table select {
    max-width: 200px;
}

.admin-table input:focus,
.admin-table select:focus {
    border-left: 5px solid var(--key-color);
    margin-left: -5px;
}

.admin-table tbody tr:last-child {
    border-bottom: 1px solid #ddd;
}

.admin-functions {
    margin: 1em 0;
    text-align: right;
}


/*
 *** Nödtorftiga anpassningar för små skärmar ***/

@media (max-width: 800px) {
    body > div {
        flex-direction: column-reverse;
    }

    header {
        height: auto;
    }

    header h1 {
        font-size: 2rem;
    }

    aside {
        border-bottom: 1px solid #666;
        border-left: 0;
        margin-bottom: 1.5rem;
        padding: 1rem;
        width: 100%;
    }

    .form-inputs,
    #last-entry {
        margin: 0 -1rem;
    }

    table {
        table-layout: fixed;
    }

    th, td {
        white-space: initial;
        overflow-wrap: break-word;
    }

    .date-time {
        white-space: initial;
    }
}
